    .cart{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    width: 550px;
    background-color: whitesmoke;
   border:0.8px solid black;
   border-radius:7px;
   
  }

.cart-cointainer{
      margin:0 auto;
    background-color: whitesmoke;
    margin-top:10px;
    display:flex;
    gap:20px;
    width:500px;
    align-items: center;
   border-radius:7px;
}
.cart-child{
 display:flex;
 flex-direction: column;
 gap:10px;

 
}
.cart-image img{
    margin:10px;
    height:150px;
    width:150px;
   
}
.cart-child1{
 display:flex;
 border:1px solid black;
 border-radius:5px;
}
.cart-child1 button{
    padding:2px 7px;
    border:none;
    background-color:transparent;
    border-radius:3px;
    font-size: medium;
}
.cart-child1 p{
  padding:10px; 
}
.inner-p{
    align-content:start;
    line-height:30px;
}
.p-btn{
     background-color:#ffce12;
     border-radius:7px;
     padding:5px 15px;
     border:none;
     font-size:15px;
     margin-top:0px;
     margin-left:50%;
     margin-bottom:20px;
     
}
.amt-container{
    margin:20px auto;
    width: 550px;
    display:flex;
    flex-direction: column;
   border:0.8px solid lightgrey;
    border-radius:7px;
}
.amt-child{
   display:flex;
    width: 510px;
    flex-direction:column;
    align-items: center;
    border:0.8px solid lightgrey; 
    border-left:none;
    border-right:none;
}
.amt-child1{
  display:flex;
   width: 510px;
   padding:10px;
  flex-direction:row; 
  background-color: aqua; 
  
}
.amt-child2{
  display:flex;
   width: 450px;
  flex-direction:row;  
 background-color: aqua;
 font-size:small;
}
.amt-child3{
  display:flex;
   width: 510px;
  flex-direction:row;  
   align-items: center;
   background-color: aqua;
  margin:10px;
}
 @media only screen and (max-width: 475px){
    *{
        margin:0 auto;
        padding:0;
        box-sizing: border-box;
    }
    .cart{
    width:80%;
    display: flex;
    flex-direction: column;
      background-color: whitesmoke;
   border:0.8px solid black;
    margin-top:20px;
    border-radius:7px;
  
  }

.cart-cointainer{
      margin:0 auto;
    background-color: whitesmoke;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    gap:20px;
    width:80%;
    align-items: center;
    border-radius:7px;
}
.image img{
    margin:10px;
    height:100px;
    width:150px;
   
}
.cart-child1{
 display:flex;
 border:1px solid black;
 border-radius:5px;
}
.cart-child1 button{
    padding:2px 5px;
    border:none;
    background-color:transparent;
    border-radius:3px;
    font-size: medium;
}
.cart-child1 p{
  padding:10px; 
}
.inner-p{
    align-content:start;
    line-height:20px;
}
#p-btn{
     background-color:#ffce12;
     border-radius:7px;
     padding:5px 10px;
     border:none;
     font-size:small;
      margin-top:0px;
     margin-left:50%;
     margin-bottom:20px;
}
h2,h4{
    font-size:small;
}
h3,h1{
   font-size:small;  
}
.amt-container{
    margin:20px auto;
    width:80%;
    display:flex;
    flex-direction: column;
   border:0.8px solid lightgrey;
    border-radius:7px;
}
.amt-child{
   display:flex;
    width:70%;
    flex-direction:column;
    align-items: center;
    border:0.8px solid lightgrey; 
    border-left:none;
    border-right:none;
}
.amt-child1{
  display:flex;
   width:70%;
   gap:10%;
  flex-direction:row; 
  background-color: aqua; 
  
}
.amt-child2{
  display:flex;
   width:60%;
  flex-direction:row;  
 background-color: aqua;
 font-size:small;
}
.amt-child3{
display:flex;
   width: 80%;
  flex-direction:row;  
   align-items: center;
   background-color: aqua;
  margin:10px auto;
}
h2,h4{
    font-size:small;
}
 }