.product{
    width:540px;
    display: flex;
    flex-direction: column;
     background-color: whitesmoke;
   border:0.8px solid black;
    margin-top:20px;
    border-radius:7px;
}

.product-cointainer{
      margin:0 auto;
   margin-top:10px;
    display:flex;
    gap:20px;
    width:500px;
   align-items: center;
    padding:20px;
    border-radius:7px;
}
.image img{
    margin:10px;
    height:180px;
    width:150px;
   
}
.inner-p{
    align-content:start;
    line-height:30px;
}
#p-btn{
     background-color:#ffce12;
     border-radius:7px;
     padding:5px 15px;
     border:none;
     font-size:15px;
}
 @media only screen and (max-width: 475px){
    .product{
    width:90%;
    display: flex;
    flex-direction: column;
      background-color: whitesmoke;
   border:0.8px solid black;
    margin-top:20px;
    border-radius:7px;
  
  }

.product-cointainer{
      margin:0 auto;
    background-color: whitesmoke;
    margin-top:10px;
    display:flex;
    flex-direction:row;
    gap:20px;
    width:80%;
    align-items: center;
    border-radius:7px;
}
.image img{
    margin:10px;
    height:100px;
    width:100px;
   
}
.inner-p{
    align-content:start;
    line-height:20px;
}
#p-btn{
     background-color:#ffce12;
     border-radius:7px;
     padding:5px 10px;
     border:none;
     font-size:small;
}
h2,h4{
    font-size:small;
}
 }