*{
    margin:0 auto ;
    padding: 0;
    box-sizing:border-box;
}
.Nav-parent{
    position: sticky;
    height:90px;
       top: 0; 
}
.Nav-containter{

    background-color:lightslategray;
    display: flex;
    flex-direction: row;
     justify-content:space-between; 
    align-items: center;
    height:70px;
    max-width:100%;
}
.nav-child1{
    display: flex;
    }
.nav-child2{
    display: flex;
    }
.nav-child2 input{
    height:30px;
    width:300px;
    border-radius:3px;
    border:none;
}
.nav-child2 input::placeholder{
    padding-left:10px;
}
.nav-child2 input:focus{
    outline:none;
}
.nav-child2 button{
    height:30px;
    width:30px;
    background-color:#ffce12;
    border:none;
    border-radius:3px;
    
}

.nav-child3{
    display: flex;
    position: relative;
    padding:5px;
    text-decoration:none;
    color: black;
    }
    .nav-child3:hover{
          border:1px solid white;
          border-radius:3px;
    }
.nav-child3 button{
  position: absolute;
  top:6px;
  left:18px;
  border:none;
  border-radius:50px;
  padding:1px 2px;
  background-color: #ffce12;

}
    .nav-child4{
    display: flex;
    }
    .navi{
         display: flex; 
         gap:50px;  
    }
     @media only screen and (max-width: 475px){
       *{
     margin:0 ;
    padding: 0;
    box-sizing:border-box;
}
.Nav-parent{
    position: sticky;
    height:90px;
       top: 0; 
}
.Nav-containter{
    
    
    background-color:lightslategray;
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items:center;
    height:50px;
    max-width:100%;
}
.nav-child1{
    display: flex;
    }
.nav-child2{
    display: flex;
    }
.nav-child2 input{
    height:30px;
    width:60px;
    border-radius:3px;
    border:none;
}
h1{
    font-size:medium;
}
.nav-child2 input::placeholder{
    padding-left:5px;
}
.nav-child2 input:focus{
    outline:none;
}
.nav-child2 button{
    height:30px;
    width:30px;
    background-color:#ffce12;
    border:none;
    border-radius:3px;
    
}
.tit{
    display:none;
}

.nav-child3{
    display: flex;
    position: relative;
    padding:5px;
    }
    .nav-child3:hover{
          border:1px solid white;
          border-radius:3px;
    }
.nav-child3 button{
  position: absolute;
  top:-2px;
  left:10px;
  border:none;
  border-radius:50px;
  padding:1px;
  background-color: #ffce12;

}
    .nav-child4{
    display: flex;
    }
    .navi{
         display: flex; 
         gap:50px;  
    } 
     }